#logo{
    width:20px;
    height: 20px;
}

#nav_background{
    background-color: darkgrey;
    display:flex;
    flex-wrap:wrap


}

.company_name{
    font-size: 20px;
}


.nav_list{
    margin-left: 50%;
    font-size: 20px;

}

.nav_list list{
    margin-left: 10px;
}

.text_center{
    text-align: center;
}

.welcome_block{
    background-color: cadetblue;
    padding: 10px;
}


.product_category_group{
    display:flex;
    justify-content: center;
    margin: auto;
}

.product_category{
    background-color: cornflowerblue;
    width: 40%;
    height: 100px;
    margin: 5px;
    text-align: center;
}

.button{
    color: white;
    background-color: blue;
    padding: 10px;
    position: relative;
    left: 43%;

}


@media only screen and (min-width: 1200px) {
    .product_category_group{
        width: 1200px;
    }
}