<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header></header>
<main>
    <p a>sth new</p>
    <p a>hot item</p>
</main>


</body>
</html>