<h1>“Hello, My Server!”</h1>
<%if(name) { %>
    <p><%= name %></p>
<% } else {%>
    <form action="/trackName">
        <label for="name">Please fill in your name</label><br>
        <input id="name" name="name" type="text">
        <input type="submit" class="submit" value ='submit'>
    </form>
<% }%>